/***************************************************/
/* Set custom or change third-party Less variables */
/***************************************************/

/* Third party */
@fa-font-path:        "./fonts"; // Path to fonts in Font-Awesome
//@grid-float-breakpoint: @screen-desktop; // Bootstrap breakpoint to toggle .collapse
//@grid-float-breakpoint: 1000px; // Bootstrap breakpoint to toggle .collapse
//@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);

/* Colors */
@blue: #1c75ba;
@violet: #6666cc;
@violet2: #a475ef;
@red: #cc3333;
@grey: #e6e6e6;
@dark: #666666;
@white: #ffffff;
@yellow: #f2c40d;
@black: #000000;
@green: #79baa8;
@light-grey: #aaaaaa;

/* Lessons bg colors */
@lessons-rus: #f06342;
@lessons-math: #f2c40d;
@lessons-socio: #7acc78;
@lessons-chemistry: #5759cc;
@lessons-eng: #66adf0;
@lessons-bio: #a475ef;
@lessons-history: #a8a3f0;
@lessons-phys: #a3f0f3;
@lessons-it: #a47fef;