/* Add custom fonts */
@font-face {
  font-family: 'DinProRegular';
  src: url('fonts/dinpro/DINPRO-REGULAR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DinProMedium';
  src: url('fonts/dinpro/DINPRO-MEDIUM.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DinProLight';
  src: url('fonts/dinpro/DINPRO-LIGHT.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DinProBold';
  src: url('fonts/dinpro/DINPRO-BOLD.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DinProBlack';
  src: url('fonts/dinpro/DINPRO-BLACK.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.dinpro-reg{
  font-family: 'DinProRegular', sans-serif!important;
}

.dinpro-med{
  font-family: 'DinProMedium', sans-serif!important;
}

.dinpro-light{
  font-family: 'DinProLight', sans-serif!important;
}

.dinpro-bold{
  font-family: 'DinProBold', sans-serif!important;
}

.dinpro-black{
  font-family: 'DinProBlack', sans-serif!important;
}

.open-sans{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

a, p, span, div {
  .open-sans;
}